@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    min-height: 100vh;
    width: 100vw;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 1.5rem;
    margin: auto;
    padding-top: 8rem;
    background: url('./images/bg-header-desktop.png') no-repeat center top/100%;
    height: 75vh;
}

.logo {
    margin-bottom: 3rem;
}

.header_title {
    font-size: 42px;
    color: var(--dark-grayish-blue);
}

p {
    font-size: 18px;
    color: var(--grayish-blue);
    line-height: 1.5;
}

.header_btn button {
    padding: 20px 40px;
    border-radius: 50px;
    color: #fff;
    font-weight: inherit;
    border: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-inline: .5rem;
    transition: .3s ease;
}

.iosBtn {
    background-color: var(--strong-cyan);
    box-shadow: 0px 3px 0px 0px #156659;
    -webkit-box-shadow: 0px 3px 0px 0px #156659;
    -moz-box-shadow: 0px 3px 0px 0px #156659;
    border-bottom: 3px solid #156659;
}

.macBtn {
    background-color: var(--light-blue);
    box-shadow: 0px 3px 0px 0px #153366;
    -webkit-box-shadow: 0px 3px 0px 0px #153e66;
    -moz-box-shadow: 0px 3px 0px 0px #153966;
    border-bottom: 3px solid #152766;
}

.header_btn button:hover {
    opacity: .75;
}