@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    min-height: 100vh;
    width: 100vw;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 1.5rem;
    margin: auto;
    padding-top: 8rem;
    background: url('./images/bg-header-desktop.png') no-repeat center top/100%;
    min-height: 75vh;
}

.logo {
    margin-bottom: 3rem;
}

.header_title {
    font-size: 44px;
    color: var(--dark-grayish-blue);
}

p {
    font-size: 18px;
    color: var(--grayish-blue);
    line-height: 1.5;
}

.header_btn {
    padding-bottom: 1rem;
}

.header_btn button {
    padding: 20px 40px;
    border-radius: 50px;
    color: #fff;
    font-weight: inherit;
    border: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-inline: .5rem;
    transition: .3s ease;
}

.iosBtn {
    background-color: var(--strong-cyan);
    box-shadow: 0px 3px 0px 0px #156659;
    -webkit-box-shadow: 0px 3px 0px 0px #156659;
    -moz-box-shadow: 0px 3px 0px 0px #156659;
    border-bottom: 3px solid #156659;
}

.macBtn {
    background-color: var(--light-blue);
    box-shadow: 0px 3px 0px 0px #153366;
    -webkit-box-shadow: 0px 3px 0px 0px #153e66;
    -moz-box-shadow: 0px 3px 0px 0px #153966;
    border-bottom: 3px solid #152766;
}

.header_btn button:hover {
    opacity: .75;
}

.snippets {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

h2 {
    font-size: 34px;
    color: var(--dark-grayish-blue);
}

.snippets_description {
    text-align: center;
}

.snippets_body {
    display: flex;
    align-items: center;
    gap: 6rem;
    width: 100%;
}

.snippets_body img {
    width: 46%;
}

.snippets_body_info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 24px;
    color: var(--dark-grayish-blue);
}

.snippets_body_info p {
    margin-bottom: 1rem;
}

.clipboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 6rem;
    text-align: center;
}

.clipboard p {
    margin-bottom: 1rem;
}

.workflow {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.workflow_infos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    text-align: center;
    flex-basis: 33%;
    gap: 2rem;
    margin-inline: 4rem;
    margin-top: 2rem;
}

.workflow_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    flex-basis: 30%;
}

.textImg,
.previewImg {
    padding-bottom: .5rem;
}

.workflow_logos {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    margin-inline: 3rem;
    margin-top: 7rem;
    align-items: center;
    justify-content: space-evenly;
}

.hero_footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 9rem 0 6rem 0;
    text-align: center;
    gap: 2rem;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    min-height: 25vh;
    justify-content: space-around;
}

.footer_section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.footer_section img {
    width: 50px;
}

.links {
    display: flex;
    gap: 6rem;
}

.link {
    flex-direction: column;
    display: flex;
    gap: 1.3rem;
}

.links a {
    color: var(--grayish-blue);
    font-size: 18px;
    text-decoration: none;
    transition: .3s ease;
}

.links a:hover {
    color: var(--strong-cyan);
}

.social_icons i {
    font-size: 28px;
    margin-inline: 1rem;
    color: var(--grayish-blue);
    cursor: pointer;
    transition: .3s ease;
}

.social_icons i:hover {
    color: var(--strong-cyan);
}

.attribution {
    font-size: 14px;
    text-align: center;
    color: var(--dark-grayish-blue);
}

.attribution a {
    color: red;
}

@media(max-width:800px) {
    .header_title {
        font-size: 35px;
        margin-inline: 2rem;
    }

    .header_description {
        margin-inline: 3rem;
    }

    h2 {
        margin-inline: 2rem;
        text-align: center;
    }

    .clipboard img {
        width: 90%;
    }

    .snippets_description,
    .clipboard_description,
    .hero_footer_description {
        width: 400px;
        text-align: center;
        align-items: center;
        background-color: red;
    }

    .snippets_body {
        flex-direction: column;
        text-align: center;
    }

    .snippets_body img {
        width: 90%;
    }

    .social_icons {
        margin-top: 2rem;
    }
}